<!--<p>Artist :
<span *ngFor="let artist of result?.artists"> 
    {{artist.name}}
     </span>
</p>-->
 <p>Songs:</p>
<div>
<table> 
    <tr> 
        <th>#</th>
        <th>Title</th>
        <th>Preview</th>
        <th>Length</th>
    </tr>
    <tr *ngFor="let item of result?.items">
        <td>{{ item.track_number}}</td>
        <td>{{ item.name }}</td>
        <td>
           <audio controls *ngIf="item.preview_url"  [src]="item.preview_url" type="audio/mpeg"></audio>
        </td>
        <td>{{item.duration_ms/1000}}</td>

    </tr>
</table>

</div>
