.inside{
    text-align: center;
    background-color: peachpuff;
    width:300px;
}

h1{
    text-align: left;
    
}
p{
    font-size: 12px;
    color:black;
    padding-bottom: 10px;
}
img{
    cursor: pointer;
}