<h1>My Spotify</h1>
<div class="outside">
<div class="inside" *ngFor="let item of result?.albums.items"> 
    <!--?.reiskia, kad jei pirmas atsakymas - null, eisim ieskoti toliau, kad atsakymas nebutu undefined-->
    <!--taip irgi galima:  <img src="{{item}}" alt="">-->
    <img routerLink="/album/{{ item.id }}" [src]="item.images[1]?.url">
    <!--skaiciukas po images reiskia paveikslelio dydi: 0 yra didelis, 1 - vidutinis-->
<p>{{ item.name }}, {{item.album_type}}</p>
<p>by
<span *ngFor="let artist of item.artists; let i=index"> 
    {{artist.name}}
    <span *ngIf="i != item.artists.length - 1">, </span>
     </span>
</p>
</div>
</div>