<app-nav></app-nav>
<div class="container">
    <div class="search-container">
        <h2>Search</h2>
<form (ngSubmit)="onSubmit()">
<input type="search" name="searchValue" [(ngModel)]="searchValue">
</form>
    </div>
    <router-outlet></router-outlet>
</div>
