.inside{
    text-align: center;
    background-color: peachpuff;
    width:300px;
}

h1{
    text-align: left;
}
.myP{
    font-size: 12px;
    color:black;
    padding-bottom: 15px;
}
h2{
    background-color: peachpuff;
    padding:5px;
    color:black;
    width:100px;
}