<h1>Spotify</h1>
<h2>{{result?.name}}</h2>
<p>Followers : {{ result?.Followers }}</p>
<p>Genres: </p>
 <div *ngFor="let genre of result?.genres"> 
 
    <ul>
        <li>{{ genre }}  </li>
    </ul>

</div>
 <p>Popularity: {{result?.Popularity}}</p>

<p>Albums: </p>
<div class="inside" *ngFor="let item of result1?.items"> 
    <img routerLink="/album/{{ item.id }}" [src]="item.images[1]?.url">
<p class="myP">{{ item.name }}</p>
    </div>