nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    background: rgb(20, 148, 30);
    height: 50px;
    color: white;
}

nav ul li {
    height: 50px;
    line-height: 50px;
}

nav ul li img {
    max-height: 50px;
    max-width: 50px;
    padding: 1em;
    border-radius: 5em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

nav ul li a:hover {
    color: rgb(35, 35, 35);
}