<nav>
  <ul>
    <li *ngIf="userProfile == null">
      <a href="https://accounts.spotify.com/authorize?client_id=2f4bad19d4c946dd933a2fcba48d254a&response_type=token&redirect_uri=http://localhost:4200/callback/">Sign in</a>
    </li>
    <ng-container *ngIf="userProfile != null">
      <li>
        <img src="{{userProfile.images[0].url}}">
      </li>
      <li>
          {{userProfile.display_name}}
      </li>
      <li>
        <a (click)="signOut()" href="#">Sign out</a>
      </li>
    </ng-container>
  </ul>
</nav>